APP_NAME=Laravel11
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=lara11-dev-mysql-1
DB_PORT=3306
DB_DATABASE=lara11
DB_USERNAME=sail
DB_PASSWORD=password123

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

WORKDIR=/www/var/html
MYSQL_VERSION=8.0.32
REDIS_VERSION=7.2.4

OCTANE_SERVER=frankenphp

APP_PORT=61
VITE_PORT=5163
SAIL_XDEBUG_MODE=develop,debug,trace
FORWARD_DB_PORT=33049
FORWARD_REDIS_PORT=6369
FORWARD_MINIO_PORT=9061
FORWARD_MINIO_CONSOLE_PORT=9062
MINIO_ROOT_USER=sail
MINIO_ROOT_PASSWORD=password123
FORWARD_MAILPIT_PORT=1069
FORWARD_MAILPIT_DASHBOARD_PORT=8006
DB_VOLUME_LOCAL=./database/mysql-database/
DB_VOLUME_TEST=./database/mysql-database-test/
REDIS_VOLUME_LOCAL=./database/redis-database/
MINIO_VOLUME_LOCAL=./storage/s3-data/
MP_VOLUME_LOCAL=./storage/mail-data/
